<div class="booking-success">
    <div class="top">
        <div class="title">
            Booking successful
        </div>
        <img class="x" src="../../../../assets/cross-svgrepo-com.svg" (click)="close()"/>
    </div>
    <div class="bottom">
        <div class="paragraph">
            Your flight booking has been successfully processed. Your tickets will be sent to your registered email address shortly. Please ensure you have them handy during your journey.
        </div>
        <div class="paragraph">
            If you encounter any issues or require further assistance, feel free to reach out to our customer support team or contact the airline directly. We are committed to ensuring you have a smooth and pleasant travel experience.
        </div>
        <div class="paragraph">
            Thank you for choosing our service. We look forward to serving you again in the future.
        </div>
    </div>
    <div class="bottom-link">
        <div class="close" (click)="close()">
            <div class="close-text">
                Close
            </div>
        </div>
    </div>
</div>
